.autocomplete-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 1rem;
}
.autocomplete-input { 
    position:relative;
    z-index: 1;
    width:100%;
    padding: 0.75rem 1.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 2px 4px #aaa;
    border:none;
    outline:none;
}
.autocomplete-select {
    position:relative;
    top: -2rem;
    background-color: #fff;
    width: 100%;
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.75rem 0;
}
.autocomplete-option {
   padding: 0.5rem 1rem
}
.autocomplete-option:hover {
    background-color: #eee
 }
.autocomplete-option:first-of-type {
    margin-top: 2rem;
}